<section class='index-page'>
  <p class='success'>
    Hello
    {{name}}!
  </p>
  <div>
    <img src={{avatar}} alt='Avatar' class='avatar' />
  </div>
  <div class='links'>
    <a class='navLink' href='/user/profile'>
      Profile
    </a>
    <a class='navLink' href='/user/profile/settings'>
      Settings
    </a>
  </div>
  <a class='' href='/auth/logout'>
    Logout from Google
  </a>
</section>